@charset "UTF-8";
/*event pages입니다*/

#event_container {
  min-width:1200px;
  padding-top:128px;
  padding-bottom:140px;
}
#event_container .inner {
  width:1200px;
  margin:auto;
  padding:0 5px;
}

/* search */
.evnet_search {
  width:100%;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.event_search_form {
  width:838px;
  margin-top:32px;
}
.event_search_form h1 {
  font-size:32px;
  font-weight: 600;
  color:#1d1d1f;
}
.event_search_form input {
  width:100%;
  height:70px;
  border-radius: 90px;
  border:solid 1px #1d1d1f;
  padding-left:68px;
  font-size:18px;
  background:url('../images/icon_search.png') no-repeat;
  background-position: 28px 18px;
  background-size:32px;
}
/*  */
#event_container .shopping_ca_tab {
  width:100%;
  display:flex;
  justify-content:flex-start;
  align-items:center;
  gap:42px;
  margin-top:140px;
}
#event_container .shopping_ca_tab button {
  background:transparent;
  border:none;
  outline:none;
  font-size:42px;
  color:#ccc;
  font-weight:600;
  cursor:pointer;
}
#event_container .shopping_ca_tab button.shopping_active {
  color:#7f0019;
}
.event_list_wrap {
  position:relative;
  overflow:hidden;
}
.event_list {
  position:relative;
  width:100%;
  height:auto;
  padding-top:32px;
 
  display: flex;
  gap:62px 24px;
  flex-wrap: wrap;
  justify-content:flex-start;
  align-content:space-between;
}


/* Event View Pages */
.event_view article p {
  margin-top:12px;
  color:#767676;
}

.note_list {
  width:100%;
  height:auto;
  margin-top:32px;
 
  display: flex;
  gap:62px 24px;
  flex-wrap: wrap;
  justify-content:space-between;
  align-content:space-between;
}


.end_event_wrap {
  width:100%;
  height:100%;
  position:absolute;
  top:0; left:0;
  background-color:rgba(0,0,0,0.7);
}
.end_event_wrap > p {
  color:#ffffffa9;
  font-size:20px;
  font-weight:500;
  position:absolute;
  width:100%;
  margin:auto;
  text-align:center;
  top:50%;
  transform:translateY(-50%);
}



/* 탭에 누르는거에 따라 보여질거 확인하기 */
.event_list.all_event_list:not(.event_view),
.event_list.ing_event_list:not(.event_view),
.event_list.end_event_list:not(.event_view) {
  position:absolute;
  top:0;
  left:0;
  opacity: 0;
  visibility: visible;
  transition:0.5s ease-in-out; /* 부드럽게 전환 */
}

.event_list.event_view {
  position:relative;
  opacity: 1;
  visibility: visible;
  transition:0.5s ease-in-out; /* 부드럽게 전환 */
}